* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: #0a0a0a;
    --cor-de-texto: #f0f0f0;
    --cor-de-destaque: #00ff41;
    --header-height: 120px;

}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--cor-de-destaque);
    color: var(--cor-de-fundo);
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

body{
    font-family: 'Share Tech Mono', monospace;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    z-index: 0;
}

header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    border-bottom: var(--cor-de-destaque) 2px solid;
    height: var(--header-height);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--cor-de-destaque);
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;

}

.nav-links a {
    text-decoration: none;
    color: var(--cor-de-destaque);
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--cor-de-texto);
}

main {
    padding-top: var(--header-height);
   
}

section {
    padding: 20px 0;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    position:relative
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--cor-de-destaque)
}

#hero h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
}

#hero .btn{
    align-self: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

#hero .headshot {
    float: right; 
    margin-left: 100px; 
    margin-bottom: 15px; 
    border: 3px solid var(--cor-de-destaque); 
    border-radius: 50%; 
    overflow: hidden;
    width: 200px; 
    height: auto;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

#matrix-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;   
    background-color: rgb(0, 0, 0); 
    border-bottom: var(--cor-de-destaque) 2px solid;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    
}

.card {
    flex: 1;
    max-width: 500px;
    border: var(--cor-de-destaque) 2px solid
}

.card img {
    width:100%;
    height: 200px;
    object-fit: cover;
    border-bottom: var(--cor-de-destaque) 2px solid
}

.card-text{
    padding: 10px;
}

#galeria {
    padding-top: 15px;
}

.gallery-container{
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
}

#galeria h2{
    margin-bottom: 15px;
    padding-left: 50px
}

.gallery-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#galeria .btn {
    margin-left: 50px;
}

#tecnologias {
    padding-left: 50px;
    padding-right: 50px;
}

#tecnologias h2 {
    /*padding-left: 50px;*/
    margin-bottom: 15px;
}

.tecnologia {
    /*padding-left: 50px;
    padding-right: 50px;*/
    margin-bottom: 10px;
}

.barra {
    height: 25px;
    width: 100%;
    margin-top: 20px;
    background-color: #2f7a42;
}

.preenchimento {
    height: 25px;
    background-color: var(--cor-de-destaque);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
    border-top: var(--cor-de-destaque) 2px solid
}

footer a {
    padding-top: 5px;
    color: #2f7a42
}

footer a:first-child{
    padding-top: 10px;
}

footer p {
    color: var(--cor-de-destaque);
    margin-top: 5px;
    margin-bottom: 10px;
        
}